Package: com.mrerenk.puregram
Name: PureGram
Version: 0.0.1
Architecture: iphoneos-arm
Description: A feature-rich tweak for Instagram on iOS!
Maintainer: MrErenK
Author: SoCuul, MrErenK
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common
